<h1>EDICION DE <%= productToEdit.name %></h1>

<img src="/images/products/<%= productToEdit.image[0].name %>" width="30%" alt="">

<form action="/products/<%= productToEdit.id %>" method="POST" enctype="multipart/form-data">
<div class="edit-form">
    <label for="name">Nombre del producto</label>
    <input type="text" name="name" id="name" value="<%= productToEdit.name %>">
</div>
<div class="edit-form">
    <label for="price">Precio</label>
    <input type="text" name="price" id="price" value="<%= productToEdit.price %>">
</div>
<div class="edit-form">
    <label for="discount">Descuento</label>
    <input type="text" name="discount" id="discount" value="<%= productToEdit.discount %>">
</div>
<div class="edit-form">
    <label for="description">Descripcion</label>
    <input type="text" name="description" id="description" value="<%= productToEdit.description %>">
</div>
<div class="input-form">
    <label for="brand">Marca</label>
    <select name="brand" id="brand" required>
        <option value=""disabled selected>Marca</option>
        <% for(const marcas of brand) { %> 
            <option value="<%= marcas.id %> "><%= marcas.name %> </option> <% } %> 
    </select>
    <div class="input-form">
        <label for="collection">Colección</label>
        <select name="collection" id="collection" required>
            <option value=""disabled selected>Colección</option>
            <% for(const coleccion of collection) { %> 
                <option value="<%= coleccion.id %> "><%= coleccion.name %> </option> <% } %> 
        </select>
    </div>
</div>
<div class="input-form">
    <label for="type">Categoria</label>
    <select name="type" id="type" required>
        <option value=""disabled selected>Categoria</option>
        <% for(const tipo of type) { %> 
            <option value="<%= tipo.id %> "><%= tipo.name %> </option> <% } %> 
    </select>
</div>

<div class="input-form">
    <label for="detail">Detalle</label>
    <input type="text" name="detail" id="detail[]" value="<%= productToEdit.detail[0].detail %>" />
</div>
<div class="input-form">
    <label for="detail">Detalle</label>
    <input type="text" name="detail" id="detail[]" value="<%= productToEdit.detail[1].detail %>"/>
</div>
<div class="input-form">
    <label for="detail">Detalle</label>
    <input type="text" name="detail" id="detail[]" value="<%= productToEdit.detail[2].detail %>" />
</div>



<div class="input-form">
    <label for="image">imagenes</label>
    <input type="file" name="image" id="image" multiple >
</div>

<button type="submit">editar</button>
</form>

<form action="/products/<%=productToEdit.id %>?_method=DELETE" method="POST" >
    <button type="submit">eliminar</button>
</form>