<%- include('./partials/head')  %> 
<body>
    <%- include('./partials/header')  %> 
    <main>
        <article>
            <section class="container">
                <div class="title-name">
                    <h2>NOVEDADES</h2>
                </div>
                <div class="product-wraper">
                    <% for( let i = 0; i < newArrivals.length; i++ ) { %>
                        <article class="product-container">
                            <a href="/products/detail/<%= newArrivals[i].id %>">
                                <section class="img-container">
                                    <img src="/images/products/<%= newArrivals[i].image[0].name %>" alt="foto de <%= onSale[i].name %>">
                                </section>
                                <section class="description-container">
                                    <h2 id="name"><%= newArrivals[i].name %></h2>
                                    
                                </section>
                            </a>
                    </article> 
                    <% } %>
                </div>
            </section>
        </article>
            <section class="collection-container">
                <div class="title-name-collection">
                    <h2>COLECCION</h2>
                </div>
                <div class="collection-wrapper">
                    <% for(let coleccion of collection) { %>
                        <article class="product-container">
                            <a href="/products/collections/<%= coleccion.name %>">
                                <img src="/images/logos/<%= coleccion.image %>" alt="" width="100%">
                            </a>
                        </article>
                    <% } %> 
    
                </div>
            </section>
        <article>

        </article>
        
        <article>
            <section class="container">
                <div class="title-name">
                    <h2>OFERTAS</h2>
                </div>
                <div class="product-wraper">
                    <% for( let i = 0; i < onSale.length; i++ ) { %>
                        <article class="product-container">
                            <a href="/products/detail/<%= onSale[i].id %>">
                                <section class="img-container">
                                    <img src="/images/products/<%= onSale[i].image[0].name %>" alt="foto de <%= onSale[i].name %>">
                                </section>
                                <section class="description-container">
                                <h2 id="name"><%= onSale[i].name %></h2>
                                
                            </section>
                        </a>
                    </article> 
                    <% } %>
                </div>
            </section> 
        </article>
        
        

        <article>
            <section class="container">
                <div class="title-name">
                    <h2>DESTACADOS</h2>
                </div>
                <div class="product-wraper">
                    <% for( let i = 0; i < featuredProducts.length; i++ ) { %>
                    <article class="product-container">
                        <a href="/products/detail/<%= featuredProducts[i].id %>">
                            <section class="img-container">
                                <img src="/images/products/<%= featuredProducts[i].image[0].name %>" alt="foto de <%= featuredProducts[i].name %>">
                            </section>
                            <section class="description-container">
                                <h2 id="name"><%= featuredProducts[i].name %></h2>
                        </section>
                        </a>
                    </article> 
                    <% } %>
                </div>
            </section>    
        </article>

            
            
            
    </main>
    
</body>